@import url(../scss/_typo.scss);
@import url(bootstrap.min.css);

html ,body , #app{
    font-family: IRANSans !important;
    font-weight: normal !important;
}

.has-shadow{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
}

.custom-control-label::before{
    right: -1.5rem;
    left: inherit !important;
}

.custom-control-label::after{
    right: -1.5rem;
    left: inherit !important;
}

.custom-control-label{
    margin-right: 20px;
}

.btn-warning{
    color: #fff !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #e56d54 !important;
    background-color: #e56d54 !important;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before, .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(229, 109, 84, 0.32);
}

.form-control::placeholder , .form-control{
    text-align: right;
    direction: rtl;
}
.modal-header{
    direction: rtl;
}

.list-group-item.bg-success {
    background-color: rgba(40, 167, 69, 0.22) !important;
}
.font-sm{
    font-size: 0.8rem !important;
}
.line-lg{
    line-height: 2rem;
}
.badge{
    font-weight: 400 !important;
    display: block !important;
    margin: 3px 0 !important;
}
.el-date-table td.end-date div {
    margin-left: 5px;
    margin-right: 0px !important;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.el-date-table td.start-date div {
    margin-right: 5px;
    margin-left: 0px !important;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.el-input__inner{
    width: 100% !important;
}
[class*=el-col-] {
    float: right !important;
}
.el-autocomplete {
     display: block !important;
}